html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}
.cursor {
   
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 200;
}

.card:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }
